# Dependencies and build artifacts
.turbo
node_modules
dist
build
tmp

# Editors specific
.fleet
.idea
.vscode
*.code-workspace

# Platform specific
.DS_Store

# Environment
.env*
!.env.example
!.env.production

# Logs
*.log
