# Dependencies and build artifacts
.turbo
node_modules
dist
build
tmp
coverage
pnpm-lock.yaml

# Editors specific
.fleet
.idea
.vscode
.history
*.code-workspace

# Platform specific
.DS_Store

# Environment
.env*
!.env.example
!.env.production

# Logs
*.log
